# ignore all
*.mp3
*.mp4
*.wav
*.weights
*.txt
__pycache__
state_spaces
models
results

# not ignore followings
# !drl/input/app1_video.mp4
# !drl/input/app2_audio.mp3
# !drl/input/app2_subtitle.txt
# !drl/input/app3_audio.wav